/CustomControls/CustomControls/CustomControls/bin
/CustomControls/CustomControls/CustomControls/obj
/CustomControls/CustomControls/CustomControls.Android/bin
/CustomControls/CustomControls/CustomControls.Android/obj